<div class="content swedfont">
  <div class="jumbotron" id="front-jumbo">
    <div class="row">
      <div class="col-sm-10">
        <h1>Ēnu diena Swedbank</h1>
        <h2>
          Vai vēlies uzzināt, ko nozīmē strādāt bankā?
        </h2>

        <p class="lead">
          Swedbank, kopā ar Ja-Ye<sup>®</sup> Latvia, piedāvā pieteikties
          1.-12. klašu skolēnus Ēnu dienai Swedbank filiālē "Āgenskalns",
          Rīgā, Mazo Nometņu ielā 27.
        </p>
      </div>
      <div class="col-sm-2">
        <img src="img/design/job_seekers.png" class="img-responsive center-block" />
      </div>
    </div>
    <p class="text-center">
      <a class="btn btn-lg btn-link" href="/pieteikties" role="button">
        Piesakies tagad!
        <i class="glyphicon glyphicon-circle-arrow-right animated bounce"></i>
      </a>
    </p>
  </div>
  <p>
    Ar Ēnu dienas 2015 nolikumu iespējams iepazīties <a href="http://enudiena.lv/media/uploads/enu_diena_nolikums_2015.pdf">šeit</a>.
  </p>
</div>
