<div class="content swedfont">
  <div class="row">
    <div class="col-sm-10">
      <h1>Filiāle "Āgenskalns"</h1>
      <p class="lead">
        Swedbank filiāle "Āgenskalns" atrodas Rīgā, Mazā Nometņu iela 27. Filiāles darba laiks ir no 9:00 līdz 17:00.
      </p>
      <p>
        Šeit ērti iespējams piekļūt izmantojot sabiedrisko transportu, garām kursē 2. tramvajs, 22. autobuss.
      </p>
      <p>
        Swedbank strādā dažādu profesiju darbinieki, kuru darbu Ēnu dienas ietvaros būs iespējams vērot tiem bērniem
        un jauniešiem, kuri izrādīs interesi un būs pieteikušies Ēnu dienai Swedbank!
      </p>
    </div>
    <div class="col-sm-2">
      <img src="/img/design/smart_duck.png" class="img-responsive center-block" />
    </div>
  </div>

  <h2>Filiāles atrašanās vieta kartē</h2>
  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-markers models="map.markers" coords="'location'" icon="'icon'" modelsByRef="true" click="markerClick"></ui-gmap-markers>
  </ui-gmap-google-map>
</div>
