<div class="content swedfont">
  <div class="jumbotron" id="front-jumbo">
    <div class="row">
      <div class="col-sm-8">
        <h1>Paldies!</h1>
        <h2>
          Tavs pieteikums ir pieņemts!
        </h2>

        <p class="lead">
          Mēs izskatīsim Tavu piedāvājumu un, ja tas tiks izvēlēts, tieši Tu
          varēsi pavadīt vienu dienu kopā ar kādu no Swedbank darbiniekiem
          un uzzināsi, ko nozīmē strādāt bankā.
        </p>
        <p class="lead">
          Uz drīzu tikšanos!
        </p>
      </div>
      <div class="col-sm-4">
        <img src="img/design/rabbit.png" class="img-responsive center-block" />
      </div>
    </div>
  </div>
</div>
