<div class="content text-page-content">
  <h1>Par Swedbank</h1>

  <img src="img/design/augam_kopa.jpg" class="pull-right right-align-media-image" />
  <p>
    Swedbank darbības pirmsākumi ir meklējami 1820. gadā, kad Zviedrijā savu darbību sāka krājbankas. Kopš bankas pirmsākumiem cieša sadarbība ar mūsu klientiem un vietējo sabiedrību ir bijusi mūsu darbības pamatā. Mūsu mērķis ir sekmēt ilgspējīgu labklājību plašam cilvēku un uzņēmumu lokam. Tas nozīmē, ka mēs strādājam, lai panāktu tādu līdzsvarotu ekonomikas attīstību, kas nodrošina labklājību gan atsevišķam indivīdam, gan visai sabiedrībai kopumā.
  </p>
  <p>
    Swedbank nodrošina visaptverošu pakalpojumu klāstu gan privātpersonām, gan uzņēmumiem bankas pamattirgos Zviedrijā, Igaunijā, Latvijā un Lietuvā. Mūsu pamatdarbības jomā apkalpojam plašu privātpersonu un mazo un vidējo uzņēmumu loku. Mēs esam izvēlējušies tradicionālu bankas darbības modeli, kur galvenā uzmanība ir pievērsta attiecībām ar klientiem un privātām konsultācijām. Mūsu darbības uzmanības centrā ir klientu vajadzības un vēlmes, nevis mūsu produkti.
  </p>
  <p>
    Mums ir 7,6 miljoni klientu - privātpersonu un 600 000 klientu - uzņēmumu. Mūsu aktīvu vērtība ir 1 857 miljardi Zviedrijas kronu, un mums ir aptuveni 16 000 darbinieku.
  </p>
  <p>
    <a href="https://www.swedbank.com/about-swedbank/our-history/index.htm">Plašāka informācija par Swedbank grupu (EN)</a>
  </p>
  <div class="row">
    <div class="col-sm-6">
      <h2>Plašāka informācija par Swedbank</h2>
      <blockquote>
        "Banka katram un ikvienam šodien un turpmāk".
      </blockquote>
      <p>
        Aptuveni 4 minūtes garajā video iepazīstināsim ar Swedbank un Swedbank darbību.
      </p>
      <p>
        <a href="https://www.swedbank.com/about-swedbank/our-history/index.htm">Mūsu vēsture (EN)</a>
      </p>
      </div>
      <div class="col-sm-6">
        <h2>Laipni lūdzam aktualitāšu sadaļā</h2>
        <p>
          Mūsu Aktualitāšu sadaļā atradīsiet jaunākās ziņas un informāciju par Swedbank grupu. Tā tiek piedāvāta preses informācijas, video, pārskatu, prezentāciju un blogu veidā.
        </p>
        <p>
          <a href="http://newsroom.swedbank.com/">Doties uz Aktualitāšu sadaļu (EN)</a>
        </p>
      </div>
    </div>
  </div>
</div>
