<div class="content text-page-content">
  <h1>Kas ir Ēnu diena?</h1>

  <p>
    Ēnu diena ir pasaulē atpazīstama un atzīta Junior Achievement karjeras izglītības programma 1.-12. klašu skolēniem, kuras laikā skolēni apmeklē kādu darba vietu un 4 – 6 stundu garumā vēro interesējošās profesijas pārstāvja darba ikdienu. Latvijā Ēnu diena ir biznesa izglītības biedrības Junior Achievement – Young Enterprise Latvija (JA-YE Latvija) reģistrēta preču zīme.
  </p>
  <p>
    <img src="img/logo-enudiena.png" alt="Ēnu diena" class="img-responsive center-block" />
  </p>
  <p>
    Ēnu dienas mērķis ir iepazīstināt skolēnus ar dažādu profesiju un nozaru prasībām, lai palīdzētu jauniešiem izvēlēties profesiju un atbilstoši sagatavotos darba tirgum.
  </p>
  <p>
    Šī ir programma, kas jau daudzus gadus sekmīgi iekļauj izglītības procesā karjeras jautājumus, rosinot jauniešus plānot savu nākotni jau skolas laikā. Veidojot sadarbību starp skolu, sabiedrību un darba vidi, Ēnu diena sekmē jauniešu integrāciju sabiedrībā un darba tirgū nākotnē.
  </p>
  <p>
    Ēnu dienas 2015 Ēnu devēju vakanču reģistrēšana norisinās no 12.janvāra līdz 2.februārim. Ēnotāju pieteikšanās norisinās no 19.janvāra līdz 4.februārim.
  </p>

  <hr />

  <div class="text-center">
    <a class="btn btn-lg btn-link" href="/pieteikties" role="button">
      Nāc Ēnot uz Swedbank!
      <i class="glyphicon glyphicon-circle-arrow-right"></i>
    </a>
    <img src="img/design/parents.png" />
  </div>
</div>
