<div class="content swedfont">
  <div class="row">
    <div class="col-sm-9">
      <h1>Pieteikuma forma</h1>
      <h2>Piesakies Ēnu diena 2015 Swedbank</h2>
      <p class="lead">
        Aizpildi zemāk esošo formu, norādot datus par sevi, savu skolu, vecāku vai aizbildni un skolotāju.
      </p>
    </div>
    <div class="col-sm-3">
      <img src="img/design/squirrel_sitting.png" class="img-responsive center-block" />
    </div>
  </div>

  <form name="entryForm" id="entry-form">
    <h2>Dati par sevi</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group" show-errors>
          <label class="control-label" for="id_firstName">Vārds <sup>*</sup></label>
          <input type="text" class="form-control" id="id_firstName" name="firstName" ng-model="Entry.firstName" required ng-minlength=3 ng-maxlength=20 />
          <p class="help-block" ng-show="entryForm.firstName.$error.required && entryForm.firstName.$dirty">Šis lauks ir obligāts!</p>
          <p class="help-block" ng-show="entryForm.firstName.$error.minlength">Vārdam jābūt vismaz 3 zīmes garam!</p>
          <p class="help-block" ng-show="entryForm.firstName.$error.maxlength">Vārds nevar būt garāks par 20 zīmēm!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group" show-errors>
          <label class="control-label" for="id_lastName">Uzvārds <sup>*</sup></label>
          <input type="text" class="form-control" id="id_lastName" name="lastName" ng-model="Entry.lastName" required ng-minlength=3 ng-maxlength=20 />
          <p class="help-block" ng-show="entryForm.lastName.$error.required && entryForm.lastName.$dirty">Šis lauks ir obligāts!</p>
          <p class="help-block" ng-show="entryForm.lastName.$error.minlength">Uzvārdam jābūt vismaz 3 zīmes garam!</p>
          <p class="help-block" ng-show="entryForm.lastName.$error.maxlength">Uzvārds nevar būt garāks par 20 zīmēm!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group" show-errors>
          <label class="control-label" for="id_age">Vecums <sup>*</sup></label>
          <input type="number" class="form-control" id="id_age" name="age" ng-model="Entry.age" required min=1 max=99 />
          <p class="help-block" ng-show="entryForm.age.$error.required && entryForm.age.$dirty">Šis lauks ir obligāts!</p>
          <p class="help-block" ng-show="entryForm.age.$error.number">Tikai cipari!</p>
          <p class="help-block" ng-show="entryForm.age.$error.min">Vecumam jābūt lielākam par 1 gadu!</p>
          <p class="help-block" ng-show="entryForm.age.$error.max">Vecumam jābūt mazākam par 99 gadiem!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">

        <div class="form-group" show-errors>
          <label class="control-label" for="id_firstName">Pilsēta <sup>*</sup></label>
          <city-select class="form-control" id="id_city" name="city" ng-model="Entry.city" data-empty-label="Izvēlies sev tuvāko pilsētu" required min=1></city-select>
          <p class="help-block" ng-show="entryForm.city.$error.required && entryForm.city.$dirty">Šis lauks ir obligāts!</p>
          <p class="help-block" ng-show="entryForm.city.$error.min">Izvēlies pilsētu no saraksta!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group" show-errors>
          <label class="control-label" for="id_lastName">Telefons</label>
          <input type="text" class="form-control" id="id_phone" name="phone" ng-model="Entry.phone" ng-minlength=8 ng-maxlength=8 ng-pattern="/^[0-9]+$/" />
          <p class="help-block" ng-show="entryForm.phone.$error.minlength || entryForm.phone.$error.maxlength || entryForm.phone.$error.pattern">Telefona numurs sastāv no 8 cipariem!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group" show-errors>
          <label class="control-label" for="id_age">E-pasts</label>
          <input type="email" class="form-control" id="id_email" name="email" ng-model="Entry.email" ng-minlength=5 ng-maxlength=50 />
          <p class="help-block" ng-show="entryForm.email.$error.minlength">E-pastam jābūt vismaz 5 zīmes garam!</p>
          <p class="help-block" ng-show="entryForm.email.$error.maxlength">E-pasts nevar būt garāks par 50 zīmēm!</p>
        </div>
      </div>
    </div>
    <h2>Informācija par vecāku/aizbildni</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group" show-errors>
          <label class="control-label" for="id_parentFirstName">Vārds <sup>*</sup></label>
          <input type="text" class="form-control" id="id_parentFirstName" name="parentFirstName" ng-model="Entry.parentFirstName" required ng-minlength=3 ng-maxlength=20 />
          <p class="help-block" ng-show="entryForm.parentFirstName.$error.required && entryForm.parentFirstName.$dirty">Šis lauks ir obligāts!</p>
          <p class="help-block" ng-show="entryForm.parentFirstName.$error.minlength">Vārdam jābūt vismaz 3 zīmes garam!</p>
          <p class="help-block" ng-show="entryForm.parentFirstName.$error.maxlength">Vārds nevar būt garāks par 20 zīmēm!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group" show-errors>
          <label class="control-label" for="id_parentLastName">Uzvārds <sup>*</sup></label>
          <input type="text" class="form-control" id="id_parentLastName" name="parentLastName" ng-model="Entry.parentLastName" required ng-minlength=3 ng-maxlength=20 />
          <p class="help-block" ng-show="entryForm.parentLastName.$error.required && entryForm.parentLastName.$dirty">Šis lauks ir obligāts!</p>
          <p class="help-block" ng-show="entryForm.parentLastName.$error.minlength">Vārdam jābūt vismaz 3 zīmes garam!</p>
          <p class="help-block" ng-show="entryForm.parentLastName.$error.maxlength">Vārds nevar būt garāks par 20 zīmēm!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group" show-errors>
          <label class="control-label" for="id_parentLastName">Telefons <sup>*</sup></label>
          <input type="text" class="form-control" id="id_parentPhone" name="parentPhone" ng-model="Entry.parentPhone" required ng-minlength=8 ng-maxlength=8 ng-pattern="/^[0-9]+$/" />
          <p class="help-block" ng-show="entryForm.parentPhone.$error.required && entryForm.parentPhone.$dirty">Šis lauks ir obligāts!</p>
          <p class="help-block" ng-show="entryForm.parentPhone.$error.minlength || entryForm.parentPhone.$error.maxlength|| entryForm.parentPhone.$error.pattern">Telefona numurs sastāv no 8 cipariem!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group" show-errors>
          <label class="control-label" for="id_age">E-pasts <sup>*</sup></label>
          <input type="email" class="form-control" id="id_parentEmail" name="parentEmail" ng-model="Entry.parentEmail" required ng-minlength=5 ng-maxlength=50 />
          <p class="help-block" ng-show="entryForm.parentEmail.$error.required && entryForm.parentEmail.$dirty">Šis lauks ir obligāts!</p>
          <p class="help-block" ng-show="entryForm.parentEmail.$error.minlength">E-pastam jābūt vismaz 5 zīmes garam!</p>
          <p class="help-block" ng-show="entryForm.parentEmail.$error.maxlength">E-pasts nevar būt garāks par 50 zīmēm!</p>
        </div>
      </div>
    </div>
    <h2>Informācija par skolu</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group" show-errors>
          <label class="control-label" for="id_schoolName">Skolas nosaukums <sup>*</sup></label>
          <input type="text" class="form-control" id="id_schoolName" name="schoolName" ng-model="Entry.schoolName" required ng-minlength=3 ng-maxlength=75 />
          <p class="help-block" ng-show="entryForm.schoolName.$error.required && entryForm.schoolName.$dirty">Šis lauks ir obligāts!</p>
          <p class="help-block" ng-show="entryForm.schoolName.$error.minlength">Skolas nosaukumam jābūt vismaz 3 zīmes garam!</p>
          <p class="help-block" ng-show="entryForm.schoolName.$error.maxlength">Skolas nosaukums būt garāks par 75 zīmēm!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group" show-errors>
          <label class="control-label" for="id_schoolYear">Klase <sup>*</sup></label>
          <select class="form-control" id="id_schoolYear" name="schoolYear" ng-model="Entry.schoolYear" required min=1 max=12>
            <option value="">
              Izvēlies klasi, kurā mācies
            </option>
            <option ng-repeat="n in [] | o_range:12" ng-value="{{ n }}" ng-selected="{{ n == Entry.schoolYear }}">{{ n }}. klase</option>
          </select>
          <p class="help-block" ng-show="entryForm.schoolYear.$error.required && entryForm.schoolYear.$dirty">Šis lauks ir obligāts!</p>
          <p class="help-block" ng-show="entryForm.schoolYear.$error.min || entryForm.schoolYear.$error.max">Klasei jābūt no 1 līdz 12</p>
        </div>
      </div>
    </div>
    <h2>Informācija par skolotāju</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group" show-errors>
          <label class="control-label" for="id_teacherFirstName">Vārds <sup>*</sup></label>
          <input type="text" class="form-control" id="id_teacherFirstName" name="teacherFirstName" ng-model="Entry.teacherFirstName" required ng-minlength=3 ng-maxlength=20 />
          <p class="help-block" ng-show="entryForm.teacherFirstName.$error.required && entryForm.teacherFirstName.$dirty">Šis lauks ir obligāts!</p>
          <p class="help-block" ng-show="entryForm.teacherFirstName.$error.minlength">Vārdam jābūt vismaz 3 zīmes garam!</p>
          <p class="help-block" ng-show="entryForm.teacherFirstName.$error.maxlength">Vārds nevar būt garāks par 20 zīmēm!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group" show-errors>
          <label class="control-label" for="id_teacherLastName">Uzvārds <sup>*</sup></label>
          <input type="text" class="form-control" id="id_teacherLastName" name="teacherLastName" ng-model="Entry.teacherLastName" required ng-minlength=3 ng-maxlength=20 />
          <p class="help-block" ng-show="entryForm.teacherLastName.$error.required && entryForm.teacherLastName.$dirty">Šis lauks ir obligāts!</p>
          <p class="help-block" ng-show="entryForm.teacherLastName.$error.minlength">Uzvārdam jābūt vismaz 3 zīmes garam!</p>
          <p class="help-block" ng-show="entryForm.teacherLastName.$error.maxlength">Uzvārds nevar būt garāks par 20 zīmēm!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group" show-errors>
          <label class="control-label" for="id_teacherLastName">Telefons <sup>*</sup></label>
          <input type="text" class="form-control" id="id_teacherPhone" name="teacherPhone" ng-model="Entry.teacherPhone" required ng-minlength=8 ng-maxlength=8 ng-pattern="/^[0-9]+$/" />
          <p class="help-block" ng-show="entryForm.teacherPhone.$error.required && entryForm.teacherPhone.$dirty">Šis lauks ir obligāts!</p>
          <p class="help-block" ng-show="entryForm.teacherPhone.$error.minlength || entryForm.teacherPhone.$error.maxlength || entryForm.teacherPhone.$error.pattern">Telefona numurs sastāv no 8 cipariem!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group" show-errors>
          <label class="control-label" for="id_age">E-pasts <sup>*</sup></label>
          <input type="email" class="form-control" id="id_teacherEmail" name="teacherEmail" ng-model="Entry.teacherEmail" required ng-minlength=5 ng-maxlength=50 />
          <p class="help-block" ng-show="entryForm.teacherEmail.$error.required && entryForm.teacherEmail.$dirty">Šis lauks ir obligāts!</p>
          <p class="help-block" ng-show="entryForm.teacherEmail.$error.minlength">E-pastam jābūt vismaz 5 zīmes garam!</p>
          <p class="help-block" ng-show="entryForm.teacherEmail.$error.maxlength">E-pasts nevar būt garāks par 50 zīmēm!</p>
        </div>
      </div>
    </div>
    <hr />
    <div class="text-right">
      <button type="submit" ng-click="save()" class="btn btn-lg btn-primary ladda-button" data-style="expand-right" data-size="l">
        <span class="ladda-label">Saglabāt</span>
      </button>
    </div>
  </form>
</div>
