<div class="content">
    <h2>Pieteikumi</h2>

    <script type = "text/ng-template" id="Entry-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myEntryLabel">Pievienot vai labot pieteikumu</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id"
                           ng-model="Entry.id" readonly>
                </div>


                <div class="form-group">
                    <label>Vārds:</label>

                    <input type="text" class="form-control" name="firstName"
                           ng-model="Entry.firstName" ng-required="true"
                           ng-minlength=3 ng-maxlength=20/>
                    <span class="error" ng-show="form.firstName.$error.minlength">Must be at least 3 characters.</span>
                    <span class="error" ng-show="form.firstName.$error.maxlength">Must be at most 20 characters.</span>
                </div>

                <div class="form-group">
                    <label>Uzvārds:</label>

                    <input type="text" class="form-control" name="lastName"
                           ng-model="Entry.lastName" ng-required="true"
                           ng-minlength=3 ng-maxlength=20/>
                    <span class="error" ng-show="form.lastName.$error.minlength">Must be at least 3 characters.</span>
                    <span class="error" ng-show="form.lastName.$error.maxlength">Must be at most 20 characters.</span>
                </div>

                <div class="form-group">
                    <label>Vecums:</label>

                    <input type="number" class="form-control" name="age"
                           ng-model="Entry.age" ng-required="true"
                           min=1 max=99/>
                    <span class="error" ng-show="form.age.$error.min">Must be greater than or equal to 1.</span>
                    <span class="error" ng-show="form.age.$error.max">Must be less than or equal to 99.</span>
                </div>

                <div class="form-group">
                    <label>Pilsēta:</label>

                    <city-select  class="form-control" name="city"
                           ng-model="Entry.city" ng-required="true"
                           min=1></city-select>
                    <span class="error" ng-show="form.city.$error.min">Must be greater than or equal to 1.</span>
                    <span class="error" ng-show="form.city.$error.max">Must be less than or equal to .</span>
                </div>

                <div class="form-group">
                    <label>Telefons:</label>

                    <input type="text" class="form-control" name="phone"
                           ng-model="Entry.phone" ng-required="false"
                           ng-minlength=8 ng-maxlength=8/>
                    <span class="error" ng-show="form.phone.$error.minlength">Must be at least 8 characters.</span>
                    <span class="error" ng-show="form.phone.$error.maxlength">Must be at most 8 characters.</span>
                </div>

                <div class="form-group">
                    <label>e-pasts:</label>

                    <input type="email" class="form-control" name="email"
                           ng-model="Entry.email" ng-required="false"
                           ng-minlength=5 ng-maxlength=50/>
                    <span class="error" ng-show="form.email.$error.minlength">Must be at least 5 characters.</span>
                    <span class="error" ng-show="form.email.$error.maxlength">Must be at most 50 characters.</span>
                </div>

                <div class="form-group">
                    <label>Skolas nosaukums:</label>

                    <input type="text" class="form-control" name="schoolName"
                           ng-model="Entry.schoolName" ng-required="true"
                           ng-minlength=3 ng-maxlength=75/>
                    <span class="error" ng-show="form.schoolName.$error.minlength">Must be at least 3 characters.</span>
                    <span class="error" ng-show="form.schoolName.$error.maxlength">Must be at most 75 characters.</span>
                </div>

                <div class="form-group">
                    <label>Klase:</label>

                    <input type="number" class="form-control" name="schoolYear"
                           ng-model="Entry.schoolYear" ng-required="true"
                           min=1 max=12/>
                    <span class="error" ng-show="form.schoolYear.$error.min">Must be greater than or equal to 1.</span>
                    <span class="error" ng-show="form.schoolYear.$error.max">Must be less than or equal to 12.</span>
                </div>

                <div class="form-group">
                    <label>Vecāka/aizbildņa vārds:</label>

                    <input type="text" class="form-control" name="parentFirstName"
                           ng-model="Entry.parentFirstName" ng-required="true"
                           ng-minlength=3 ng-maxlength=20/>
                    <span class="error" ng-show="form.parentFirstName.$error.minlength">Must be at least 3 characters.</span>
                    <span class="error" ng-show="form.parentFirstName.$error.maxlength">Must be at most 20 characters.</span>
                </div>

                <div class="form-group">
                    <label>Vecāka/aizbildņa uzvārds:</label>

                    <input type="text" class="form-control" name="parentLastName"
                           ng-model="Entry.parentLastName" ng-required="true"
                           ng-minlength=3 ng-maxlength=20/>
                    <span class="error" ng-show="form.parentLastName.$error.minlength">Must be at least 3 characters.</span>
                    <span class="error" ng-show="form.parentLastName.$error.maxlength">Must be at most 20 characters.</span>
                </div>

                <div class="form-group">
                    <label>Vecāka/aizbildņa telefons:</label>

                    <input type="text" class="form-control" name="parentPhone"
                           ng-model="Entry.parentPhone" ng-required="true"
                           ng-minlength=8 ng-maxlength=8/>
                    <span class="error" ng-show="form.parentPhone.$error.minlength">Must be at least 8 characters.</span>
                    <span class="error" ng-show="form.parentPhone.$error.maxlength">Must be at most 8 characters.</span>
                </div>

                <div class="form-group">
                    <label>Vecāka/aizbildņa e-pasts:</label>

                    <input type="text" class="form-control" name="parentEmail"
                           ng-model="Entry.parentEmail" ng-required="true"
                           ng-minlength=5 ng-maxlength=50/>
                    <span class="error" ng-show="form.parentEmail.$error.minlength">Must be at least 5 characters.</span>
                    <span class="error" ng-show="form.parentEmail.$error.maxlength">Must be at most 50 characters.</span>
                </div>

                <div class="form-group">
                    <label>Skolotāja vārds:</label>

                    <input type="text" class="form-control" name="teacherFirstName"
                           ng-model="Entry.teacherFirstName" ng-required="true"
                           ng-minlength=3 ng-maxlength=20/>
                    <span class="error" ng-show="form.teacherFirstName.$error.minlength">Must be at least 3 characters.</span>
                    <span class="error" ng-show="form.teacherFirstName.$error.maxlength">Must be at most 20 characters.</span>
                </div>

                <div class="form-group">
                    <label>Skolotāja uzvārds:</label>

                    <input type="text" class="form-control" name="teacherLastName"
                           ng-model="Entry.teacherLastName" ng-required="true"
                           ng-minlength=3 ng-maxlength=20/>
                    <span class="error" ng-show="form.teacherLastName.$error.minlength">Must be at least 3 characters.</span>
                    <span class="error" ng-show="form.teacherLastName.$error.maxlength">Must be at most 20 characters.</span>
                </div>

                <div class="form-group">
                    <label>Skolotāja telefons:</label>

                    <input type="text" class="form-control" name="teacherPhone"
                           ng-model="Entry.teacherPhone" ng-required="true"
                           ng-minlength=8 ng-maxlength=8/>
                    <span class="error" ng-show="form.teacherPhone.$error.minlength">Must be at least 8 characters.</span>
                    <span class="error" ng-show="form.teacherPhone.$error.maxlength">Must be at most 8 characters.</span>
                </div>

                <div class="form-group">
                    <label>Skolotāja e-pasts:</label>

                    <input type="text" class="form-control" name="teacherEmail"
                           ng-model="Entry.teacherEmail" ng-required="true"
                           ng-minlength=5 ng-maxlength=50/>
                    <span class="error" ng-show="form.teacherEmail.$error.minlength">Must be at least 5 characters.</span>
                    <span class="error" ng-show="form.teacherEmail.$error.maxlength">Must be at most 50 characters.</span>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <div class="text-right">
      <button class="btn btn-primary btn-lg" ng-click="create()">
          Pievienot jaunu ierakstu <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Vārds</th>
                <th>Uzvārds</th>
                <th>Vecums</th>
                <th>Pilsēta</th>
                <th>Skola</th>
                <th>Klase</th>
                <th>Pievienots</th>
                <th>Darbības</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Entry in Entries">
                <td>{{Entry.id}}</td>

                <td>{{Entry.firstName }}</td>
                <td>{{Entry.lastName }}</td>
                <td>{{Entry.age }}</td>
                <td>{{Entry.getCityDisplay() }}</td>
                <td>{{Entry.schoolName }}</td>
                <td>{{Entry.schoolYear }}</td>
                <td>{{Entry.getFormattedCreatedAtDate() }}</td>

                <td>
                    <button type="submit"
                            ng-click="update(Entry.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="submit"
                            ng-click="delete(Entry.id)"
                            ng-confirm-click="Vai tiešām dzēst?"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
